
<% if (typeof isIndex !== typeof true) {%>
    <ul class="Index">
        <header class='PageTitle'>
            <h1>最新文章</h1>
        </header>
        <% page.posts.each(function (post, index) { %>
            <% if (!index) { %>
                <li>本文永久連結: <a href="http://<%= post.permalink %>">http://<%= post.permalink %></a></li>
                <li>
                    <%- partial('_partial/content-view', { post: post, isPage: true }) %>
                </li>
                <% if (post.tags && post.tags.length){ %>
                    <li class="meta-text">
                        tags:
                        <%- partial('_partial/tag-list', { className: 'meta-text', tags: post.tags }) %>
                    </li>
                <% } %>
            <% } %>
        <% }) %>
    </ul>
<% } else { %>
    <ul class="Index">
        <% if (page.tag || page.category) { %>
            <header class='PageTitle'>
                <h1>{ <%= page.tag || page.category %> }</h1>
            </header>
        <% } %>
        <% page.posts.each(function (post) { %>
            <li>
                <%- partial('_partial/list-view', { post: post }) %>
            </li>
        <% }) %>
    </ul>
    <% if (page.total > 1 ){ %>
        <section id="nav-wrapper">
            <nav id="page-nav">
                <%- paginator({
                prev_text: "« prev",
                next_text: "next »"
              }) %>
            </nav>
        </section>
    <% } %>
<% } %>
<% if (typeof isIndex !== typeof true) {%>
    <h2>標籤雲</h2>
    <%- tagcloud({
        max_font: 48,
        min_font: 14
    }) %>
<% } %>
