<!DOCTYPE html>
<html lang="zh-cmn-Hans">
    <%- partial('_partial/head') %>
<body>
    <%- js('js/facebooksdk.js') %>
    <div class="Shell">
        <%- partial('_partial/sidebar') %>
        <div class="container">
            <div data-pager-shell>
                <%- body %>
                <%- partial('_partial/footer') %>
            </div>
        </div>
    </div>
    <script defer src="https://use.fontawesome.com/releases/v5.0.9/js/all.js" integrity="sha384-8iPTk2s/jMVj81dnzb/iFR2sdA7u06vHJyyLlAd4snFpCl/SnyUjRrbdJsw1pGIl" crossorigin="anonymous"></script>
    <%- js('js/ixbg/ixbg.js') %>
    <%- js('js/scrollTop.js') %>
</body>
</html>
