<head>
  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-106752702-1"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());
    gtag('config', 'UA-106752702-1');
  </script>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <meta itemprop="name" content="Chris">
  <meta itemprop="image" content="https://avatars1.githubusercontent.com/u/1825852?v=3&s=460">
  <%- open_graph() %>
  <title><% if (page.title){ %><%= page.title %> - <% } %><%= config.title %></title>
    <%- css('//cdn.jsdelivr.net/highlight.js/9.10.0/styles/github-gist.min.css') %>
    <%- css('//cdnjs.cloudflare.com/ajax/libs/KaTeX/0.5.1/katex.min.css') %>
    <%- css('css/style') %>
</head>
