<head>
  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script
    async
    src="https://www.googletagmanager.com/gtag/js?id=UA-106752702-1"
  ></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag() {
      dataLayer.push(arguments);
    }
    gtag("js", new Date());
    gtag("config", "UA-106752702-1");
  </script>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge" />
  <meta itemprop="name" content="Chris" />
  <meta
    itemprop="image"
    content="https://avatars1.githubusercontent.com/u/1825852?v=3&s=460"
  />
  <link rel="preconnect" href="https://fonts.gstatic.com" />
  <link
    href="https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100;0,200;0,300;0,400;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap"
    rel="stylesheet"
  />
  <%- open_graph() %>
  <title>
    <% if (page.title){ %><%= page.title %> - <% } %><%= config.title %>
  </title>
  <meta
    name="viewport"
    content="width=device-width,minimum-scale=1,initial-scale=1"
  />
  <!-- <script src="https://cdn.bootcdn.net/ajax/libs/lodash.js/4.17.20/lodash.core.min.js"></script> -->
  <script
    defer
    src="https://cdn.bootcdn.net/ajax/libs/raphael/2.3.0/raphael.min.js"
  ></script>
  <%- css('//cdn.jsdelivr.net/highlight.js/9.10.0/styles/github-gist.min.css')
  %> <%- css('//cdnjs.cloudflare.com/ajax/libs/KaTeX/0.5.1/katex.min.css') %>
  <%- css('css/style') %>
</head>
