<article class='ListView'>
    <header class="title">
      <% if (post.link){ %>
        <h1>
          <a href="<%= post.link %>"><%= post.title %></a>
        </h1>
      <% } else if (post.title){ %>
        <h1>
          <a href="<%= url_for(post.path) %>"><%= post.title %></a>
        </h1>
      <% } %>
      <%- partial('meta', { post: post }) %>
    </header>
</article>
