<aside class='SideBar'>
    <canvas id="ixbg" width="100%" height="100%"></canvas>
    <section class='avatar' style="background-image: linear-gradient(to bottom, #1e5799 0%, #f8f8f8 100%)">
    </section>
    <div class='av-pic' style="background-image: url(<%= theme.avatar %>)"></div>
    <section class='menu'>
        <div><%= config.title %></div>
        <% if (config.subtitle) { %>
            <div><%= config.subtitle %></div>
        <% } %>
        <ul>
          <% for (const m in theme.menu) { %>
            <a href="<%= theme.menu[m] %>" class="Btn">
              <li><%= m %></li>
            </a>
          <% } %>
        </ul>
    </section>
    <section class="media">
        <% for (const m in theme.media) { %>
            <% if (theme.media[m]) { %>
                <a href="<%- url_for(theme.media[m]) %>" target="_blank">
                    <i class="fa fa-<%= m %>"></i>
                </a>
            <% } %>
        <% } %>
    </section>
</aside>
